# Node / Frontend
node_modules/
.expo/
npm-debug.log
yarn-error.log
dist/
web-build/

# Python / Backend
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
.env
.env.local
.env.development
.env.production
*.log

# Docker
*.env.backup
.env.development
.env.production
pgdata/

# IDEs
.vscode/
.idea/
*.swp

*/cypress/videos/
*/cypress/screenshots/
*/cypress/downloads/
*/.cypress-cache/

# Google Cloud credentials
credentials.json

# Opcional: ignorar cualquier archivo .json de credenciales
*.service-account.json
*credentials*.json
app/google_drive/*.json
