# PostgreSQL
POSTGRES_USER=tu_user
POSTGRES_PASSWORD=tu_contraseña
POSTGRES_DB=tato_db
POSTGRES_HOST=db      # hostname dentro de Docker
POSTGRES_PORT=5432

# Flask
FLASK_ENV=development
JWT_SECRET_KEY=clave_super_secreta

# URL de conexión para SQLAlchemy
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
